<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	  <meta name="author" content="{{ site.author }}" />
    <meta name="description" content="{{ site.description }}">
    <link rel="favicon" href="{{ site.baseurl }}static/img/favicon.png">

    {% if page.title %}
      <title>{{ page.title }}</title>
    {% else %}
      <title>{{ site.title }}</title>
    {% endif %}
	    
	  <!-- Custom styles -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Code+Pro:200,400" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}static/css/main.css" />

    <!-- Google Analytics -->
    {% include analytics.html %}
  </head>

  <!-- Main Body-->
  <body>
  <div id="wrap">
    {% include header.html %}
    {{ content }}
  </div>
  {% include footer.html %}

  <script src="{{ site.baseurl }}static/js/main.js"></script>
  </body>
</html>
